@font-face {
  font-family: Work Thin;
  src: url(../fonts/WorkSans-Thin.ttf);
}
@font-face {
  font-family: Work Regular;
  src: url(../fonts/WorkSans-Regular.ttf);
}

* {box-sizing: border-box;}

html {
	background: #000000;
	background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Work Regular';
	color: #ffffff;
}

h1 {
	font-size: 0.8em;
}
h2 {
	font-size: 1.5em;
}
button {
	font-family: 'Work Regular';
	text-transform: uppercase;
}

::selection {
	background: rgba(0, 79, 132, 0.6);
	color: rgba(0,0,0,0);
    text-shadow: 0px 3px 3px rgba(255,255,255,1);
}

main {
	perspective: 800px;
	position: relative;
	min-height: 100%;
	min-height: 90vh;
	min-height: -webkit-fill-available;
	overflow: hidden;
}

header {
	position: fixed;
	width: 100%;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
}

header > * {
	padding: 0;
	margin: 0;
}

section {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	grid-gap: 8px;
}

article {
	position: relative;
	display: flex;
    align-items: center;
    flex-direction: column;
    padding: 64px 8px;
    height: -webkit-fill-available;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    visibility: hidden
}

#locationOne {
	background:  url('../img/florida.jpg') bottom center no-repeat, #000000;
	background-size: 100%;
}
#locationTwo {
	background:  url('../img/texas.jpg') bottom center no-repeat, #000000;
	background-size: 100%;
}
#locationThree {
	background:  url('../img/california.jpg') bottom center no-repeat, #000000;
	background-size: 100%;
}

.windDirection {
	display: block;
	transform-origin: 50% 50%;
	width: auto;
	height: 64px;
	position: absolute;
}

.windSpeed {
}

.windmill {
	margin-top: 74px;
	width: 64px;
}

.weatherIcon {
	width: 64px;
}

#digitalClock {
	margin: 0;
	padding: 0;
	font-weight: 100;
}

#date {
	margin: 0;
	padding: 0;
	font-weight: 100;
}

footer {
    position: fixed;
    perspective: 1000px;
    bottom: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden
}

footer .text {
	padding: 0.25em;
	color: #fff;
	visibility: hidden;
	margin: 0;
}

#restartBtn {
	background: rgba(0,79,132,0.6);
	border: 1px solid #fff;
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 3px;
	color: #fff;
	visibility: hidden;
}

#rick,
#morty {
	position: relative;
	visibility: hidden;
	padding: 0.25em 0.25em;
	background: rgba(0,79,132,0.8);
	width: 100%;
	transition: height 1s ease-in-out;
}

#rick img.avatar,
#morty img.avatar {
	max-width: 100%;
	border-radius: 3px;
}

#rick {
	border-top: 1px solid #004F84;
	border-right: 1px solid #004F84;
	border-top-right-radius: 6px;
}

#morty {
	border-top: 1px solid #004F84;
	border-left: 1px solid #004F84;
	border-top-left-radius: 6px;
}

#rick .text,
#morty .text {
}

#restartBtn {
	position: absolute;
	bottom: 0;
	left: 0;
}
@media screen and (min-width: 480px) {
	h1 {
		font-size: 1em;
	}
}
@media screen and (min-width: 640px) {
	h1 {
		font-size: 1.2em;
	}
	#rick,
	#morty {
		width: 300px;
	}
	#rick .text,
	#morty .text {
		width: 300px;
	}
}
@media screen and (min-width: 768px) {
	h1 {
		font-size: 1.8em;
	}
}
@media screen and (min-width: 1024px) {
	h1 {
		font-size: 2em;
	}
}

@media screen and (min-width: 1024px) and (max-height: 500px) {

}